Repository TarikAnafarta/baykoc-deploy-deneme: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-ruff, backend-black, backend-isort, frontend-eslint, frontend-prettier

.pre-commit-config.yaml:

ci:
  autofix_prs: false
  autoupdate_schedule: quarterly

repos:
  - repo: local
    hooks:
      - id: backend-ruff
        name: Backend - Ruff (lint, auto-fix)
        language: python
        entry: ruff check --fix
        additional_dependencies:
          - ruff==0.7.3
        files: ^backend/.*\.py$
        pass_filenames: true
        stages: [pre-commit]

      - id: backend-black
        name: Backend - Black (format)
        language: python
        entry: black --fast
        additional_dependencies:
          - black==24.10.0
        files: ^backend/.*\.py$
        pass_filenames: true
        stages: [pre-commit]

      - id: backend-isort
        name: Backend - isort (imports)
        language: python
        entry: isort --profile=black
        additional_dependencies:
          - isort==5.13.2
        files: ^backend/.*\.py$
        pass_filenames: true
        stages: [pre-commit]

      # Deep backend tests are run in GitHub Actions (tests.yml)
      # to avoid slow commits and DB dependencies locally.

      - id: frontend-eslint
        name: Frontend - ESLint (auto-fix)
        language: system
        entry: npm --prefix frontend exec -- eslint --fix --config frontend/eslint.config.js
        files: ^frontend/.*\.(js|jsx)$
        pass_filenames: true
        stages: [pre-commit]

      - id: frontend-prettier
        name: Frontend - Prettier (write)
        language: system
        entry: npm --prefix frontend exec -- prettier --write
        files: ^frontend/.*\.(js|jsx)$
        pass_filenames: true
        stages: [pre-commit]

      # Optional quick frontend tests can be run manually with npm test or via CI.

Add gunicorn to requirements.txt
  backend/requirements.txt
Due: none

Update Vite configuration to include allowed hosts for server and preview
  frontend/vite.config.js
Due: frontend-eslint, frontend-prettier

Refactor API calls to use centralized utility functions and enhance error handling
  backend/backend/settings.py
  frontend/src/context/AuthContext.jsx
  frontend/src/hooks/useGraphData.js
  frontend/src/utils/api.js
  frontend/src/views/analytics/Analytics.jsx
  frontend/src/views/auth/Login.jsx
  frontend/src/views/graph/components/GraphChatWidget.jsx
  frontend/src/views/home/Dashboard.jsx
  frontend/src/views/settings/Profile.jsx
  frontend/vite.config.js
Due: backend-ruff, backend-black, backend-isort, frontend-eslint, frontend-prettier

Refactor allowed hosts configuration to improve handling and ensure defaults
  frontend/vite.config.js
Due: frontend-eslint, frontend-prettier

Enhance Google OAuth configuration by introducing BACKEND_BASE_URL and GOOGLE_REDIRECT_PATH, and refactor settings to improve environment variable handling.
  backend/.env.example
  backend/README.md
  backend/backend/settings.py
  backend/backend/users/services/google_oauth.py
Due: backend-ruff, backend-black, backend-isort

Refactor Dockerfile to remove unnecessary environment variables and set entrypoint for Gunicorn in entrypoint.sh
  backend/Dockerfile
  backend/entrypoint.sh
Due: none

Refactor Vite configuration to simplify allowed hosts handling and ensure localhost fallback
  frontend/vite.config.js
Due: frontend-eslint, frontend-prettier
